

.about-page{
  width: 80%;
  /* height: 100vh; */
  position: relative;
  float: right;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  color: rgb(66, 64, 64);
}

.about-div, .self-details , .education-div{
  margin-top: 20px;
}

.head span{
  color: #0d213d;
  font-weight: 600;
  font-size: 35px;
  border-bottom: 4px solid blue;
  border-width: 50%;
  font-family:'Times New Roman', Times, serif;
}
.head{
  margin-bottom: 10px;
}

.intro-sec{
  font-size: 16px;
  /* margin-bottom: 20px; */
}

.self-details ul li{
  padding: 5px 0px;
}
.self-details strong{
  color: black;
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
  margin-right: 10px;
}



/* media query */
@media only screen and (max-width: 1024px) {
  .about-page{
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .about-sec{
    height: 100vh;
  }
}