

.home-sec{
  width: 80%;
  height: 100vh;
  position: relative;
  float: right;
  padding-left: 20px;
  /* background-color: grey; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-sec h1{
  font-size: 50px;
}


/* media query */
@media only screen and (max-width: 1024px) {
  .home-sec{
    width: 100%;
  }
}