

.sidebar{
  width: 20%;
  height: 100vh;
  padding: 20px 0px;
  background-color: #040B14;
  color: white;
  position: fixed;
}


/* profile section */
.profile-sec{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-img img{
  width: 150px;
  height: 150px;
  border: 10px solid #0d213d;
  border-radius: 50%;
}

li{
  list-style: none;
}

.profile-name{
  margin: 10px 0px;
  font-size: 24px;
  font-weight: 500;
}

.social-sec{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-sec ul{
  display: flex;
  justify-content: center;
}

.links{
  padding: 0 5px;
}

a{
  color: white;
}


/* nav section */
.nav-sec{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 10px 20px;
}

.nav ul li a{
  display: flex;
  align-items: center;
  padding: 5px;
}


.nav ul li a:hover{
  background-color: #0d213d;
  border-radius: 5px;
}
#navId ul li a:active{
  background-color: #245aa6;
  border-radius: 5px;
}

.nav-links .icon{
  padding-right: 15px;
}

.nav ul li{
  padding: 10px 0px;
}

.active{
  color: yellow;
}


/* media query */
@media only screen and (max-width: 1024px) {
  .sidebar{
    display: none;
  }
}